body {
  	background-color: powderblue;
}
h1 {
	color: blue;
}
h3 {
	color: #6a02fb;
}
li {
	color: #660066;
}
th {
	color: #ff0012;
	border: 1px solid black;
}
td {
	border: 1px solid black;
}
tr {
	color: #00540e;
}
#course_table {
	border-collapse: collapse;
}
